html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Aldrich', sans-serif;
    font-weight: normal;
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
                -1px -1px 0 #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.maxWidth {
    width: 100%;
    height: 100%;
    max-height: 40px;
}

.nowrap {
    white-space: nowrap;
}

.alignBottom {

    bottom: 0;
}

.cssmarquee{
    overflow: hidden;
    animation-delay: 3s;
    height: 100%;
    width: fit-content;
    transform:translateX(100%);
    animation: cssmarquee 10s linear infinite;
}

@keyframes cssmarquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.small {
    font-size: smaller;
}

.textBottom {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.clear {
    clear: both;
}

.rightText {
    text-align: right;
}

.backGroundColor {
}

.borderRadiusTopLeft {
    border-top-left-radius: 10px;
}

.borderRadiusTopRight {
    border-top-right-radius: 10px;
}

.borderRadiusBottomLeft {
    border-bottom-left-radius: 10px;
}

.borderRadiusBottomRight {
    border-bottom-right-radius: 10px;
}

.hide {
    display: none;
}

.autoHeight {
    height: auto;
}

#difficulty {
}

/** bottom right **/
#songInfo {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    height: 100%;
    text-align: right;
    vertical-align: text-bottom;
    opacity: 1;
    transition: 1s all;
}

#songContainer {
    height: 165px;
    padding: 10px;
}

#songInfo.inactive {
    opacity: 0;
}

#beatMapCover {
    padding: 5px;
    float: right;
}

.bigNumber {
    font-size: larger;
    font-weight: bold;
}

#cover {
    height: 150px;
    width: 150px;
    background-image: url("../img/tyGQRx5x_400x400.jpg");
    background-size: contain;
}

#infoText {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    max-width: 300px;
    height: 160px;
}

#previousBSRWrapper .line,
#infoText .line {
    padding: 3px 10px 3px 10px;
    width: fit-content;
    margin-left: auto;
    font-size: 18px;
    max-width: 520px;
}

#previousBSR {
    display: inline-block;
}

.sameLine {
    display: inline-block;
}

#mapName {
    word-wrap: break-word;
    font-size: 30px !important;
    font-weight: bold;
}

#mapName.small {
    padding: 5px 0px 0px 0px;
    font-size: 16px !important;
}

/** svgs **/
.roundBar {
    background: transparent;
    transform: rotate(-90deg);
}

.roundBar > circle {
    fill: transparent;
    stroke-linecap: round;
}

.roundBar .remaining {
    opacity: .25;
    stroke-width: 2px;
    
}

.roundBar .progress {
    stroke-width: 8px;
    transition: .2s all;
}

/** modifiers **/
#modifiers {
    position: absolute;
    right: 5px;
    bottom: 200px;
    text-align: center;
    font-size: 14px;
    transition: 1s all;
}

#modifiers.inactive {
    right: -250px;
}

#modifiers > div {
    margin: 5px;
}

/** down **/
#downSection {
    position: absolute;
    height: 90px;
    width: 500px;
    bottom: 5px;
    left: 50%;
    margin-left: -250px;
    transition: 1s all;
}

#downSection.inactive {
    bottom: -100px;
}

#downSection > div {
    float: left;
}

#downSection .holders {
    width: 230px;
}

#downSection .barHolder {
    width: 90px;
}

#downSection .holders .line {
    margin: 8px 0;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
}

#downSection .holders .line#score {
    font-size: 24px;
}

#downSection .holders .line > div {
    display: inline-block;
    width: 60px;
    font-size: 14px;
}

#downSection .holders .line > div > span {
    font-size: 10px;
    margin-right: 10px;
}

.progressInfo {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 0px 0 #000,
				  0px 0px 0 #000,
				 0px 0px 0 #000,
				0px 0px 0 #000;
}

/** options **/
#options {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
}

#options input[type=checkbox] ~ label {
    cursor: pointer;
}

/** flip **/


#songInfo.flip {
    right: auto;
    left: 0;
    text-align: left;
}

#songInfo.flip .textBottom {
    right: inherit;
    left: 5px;
    width: 50%;
}
#songInfo.flip #previousBSRWrapper {
    width: 100%;
}

#songInfo.flip #beatMapCover {
    float: left;
    width: 150px;
}

#songInfo.flip #infoText .line {
    margin-left: inherit;
}

#modifiers.flip {
    right: inherit;
    left: 5px;
}

#modifiers.flip.inactive {
    left: -250px;
}

#downSection.flip {
    bottom: inherit;
    top: 5px;
}

#downSection.flip.inactive {
    top: -100px;
}